<div class="downloads_menu">
	<ul class="primary-nav blue">
		<{foreach item=category from=$block.downloads_category}>
			<li>
				<a class="menuMain" href="<{$icms_url}>/modules/downloads/index.php?category_id=<{$category.category_id}>"><{$category.category_title}></a>				
				<{if $category.hassub == 1}>
					<ul>
						<{foreach item=subcategory from=$category.subcategories}>
							<li>
								<a class="menuMain" href="<{$icms_url}>/modules/downloads/index.php?cat=<{$subcategory.category_id}>"><{$subcategory.category_title}></a>
							</li>
						<{/foreach}>
					</ul>
				<{/if}>
			</li>
		<{/foreach}>
	</ul>
</div>