<div class="downloads_menu">
	<ul class="primary-nav blue">
		<{foreach from=$block.downloads_category key=key item=categories}>
			<li>
				<a class="menuMain" href="<{$icms_url}>/modules/downloads/category.php?cat=<{$categories.category_cid}>"><{$categories.category_title}></a>
				
				<{if $block.showsubs && $subcategories == true}>
					<ul>
						<{foreach item=subcategories from=$categories}>
							<li>
								<a class="menuMain" href="<{$icms_url}>/modules/downloads/category.php?cat=<{$categories.category_cid}>"><{$categories.category_title}></a>
							</li>
						<{/foreach}>
					</ul>
				<{/if}>
			</li>
		<{/foreach}>
	</ul>
</div>